<!doctype html>
<html>
<head>
	<title>Followup</title>
	<link rel="stylesheet" type="text/css" href="search_style.css">
	<link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>

<body>

	<div id="background">
		<img src="langlie_transparent_top.jpg" style="width:100%">
		<div id="container">
		<section id="search">
			<form action="/" method="post">
				<input class="search" type="text" name="followup" placeholder="Search Here to Followup!"></textarea>
				<input class="submit" type="submit" value="Followup!">
			</form>
		</section>
	</div>
		<img src="langlie_transparent_bottom.jpg" style="width:100%">
	</div>

</body>

</html>